<div>
    <navbar></navbar>
</div>
<div class="p-2 font-size-14px" id="print-section">
    <div class="card">
        <div class="card-header mb-0">
            <h6>Order Details</h6>
            <button class="btn btn-primary">Go back</button>
            <a class="float-right cursor-pointer" (click)="print()" data-toggle="tooltip" data-placement="top" title="Print">
                <img src="../assets/print.png" alt="">
            </a>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-header border-0">
            <h5>Order Details</h5>
        </div>
        <table class="table mb-0">
            <tbody>
                <tr>
                    <td class="border-right">Customer Name</td>
                    <td>{{customerDetail?.name}}</td>
                </tr>
                <tr>
                    <td class="border-right">User Verification</td>
                    <td>{{customerDetail?.verification}}</td>
                </tr>
                <tr>
                    <td class="border-right">Customer Id</td>
                    <td>{{customerDetail?.id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card mt-5">
        <div class="card-header border-0">
            <h5>Table Details</h5>
        </div>
        <table class="table mb-0">
            <tbody>
                <tr>
                    <td class="border-right">Table Number</td>
                    <td>{{tableDetail?.number}}</td>
                </tr>
                <tr>
                    <td class="border-right">Seating Capacity</td>
                    <td>{{tableDetail?.seatCapacity}}</td>
                </tr>
                <tr>
                    <td class="border-right">Occupancy</td>
                    <td>{{tableDetail?.occupancy}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card mt-5" *ngFor="let data of orders">
        <div class="card-header border-0">
            <h5>{{data.orderNo}}</h5>
            <h5>{{data.status}}</h5>
            <h5>{{data.paymentStatus}}</h5>
        </div>
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Unit Price</th>
                    <th>Quantity Ordered</th>
                    <th>Amount</th>
                    <th>Tax</th>
                    <th>Tax Amount</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of data.orderDetails">
                    <td>{{item.name}}</td>
                    <td>{{item.unitPrice}}</td>
                    <td>{{item.quantityOrdered}}</td>
                    <td>{{item.amount}}</td>
                    <td>{{item.tax}}</td>
                    <td>{{item.taxAmount}}</td>
                    <td>{{item.totalAmount}}</td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <th> Remaining Amount</th>
                    <td colspan="3">0</td>
                    <th>Total Amount</th>
                    <td>{{data.amountPayable}}</td>
            </tbody>
        </table>
    </div>
</div>